*, *::before, *::after {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.question {
    margin: 1rem;
    padding: 1rem;
}

p {
    margin: 1rem;
    padding: 1rem;
}

.answer-container {
    display: grid;
    flex: content;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    gap: 10px;
}

.answers {
    display: grid;
    margin: 20px;
    padding: 5px;
}

#setTime {
    text-align: right;
}

.options {
    display: none;
    text-align: center;
}

#highScore {
    text-align: left;
}