/* *, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rosybrown;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container{
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.hide {
    display: none;
}

body.correct {
    background-color: green;
}

body.wrong {
    background-color: red;
} */


*, *::before, *::after {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.question {
    margin: 1rem;
    padding: 1rem;
}

p {
    margin: 1rem;
    padding: 1rem;
}

.answer-container {
    display: grid;
    flex: content;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    gap: 10px;
}

.answers {
    display: grid;
    margin: 20px;
    padding: 5px;
}

#setTime {
    text-align: right;
}

.options {
    display: none;
    text-align: center;
}

#highScore {
    text-align: left;
}